<html>
<head>
  <title> Camille's Starter Website</title></head>
<body>
  <div>

    <p>Hi there!</p>
    <p> This is Camille working on good old HTML. This should be a snap, right? Riiiight?</p>
</div>

    <div>
                <h1><a href="">Actual Blogposts</a></h1>
                {% for post in posts %}
                <div>
       <p>       <a href="">{{ post.title }}</a>
         <br>
         by {{post.author}}
         <br>
          published on: {{ post.published_date }} </p>

       <p>{{ post.text|linebreaks }}</p>
   </div>
              {% endfor %}
            </div>

    <div>
              <h1><a href="">Recent Tweets</a></h1>

            </div>
            <div>

              <p>Kicking it old school!</p>
          </div>
</body>
</html>
